# Terraform 
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
provider.tf
user-meta.txt
key.json

# Kubernetes 
env-configmap.yaml
sa-key.json

# Ansible
ansible/install_sellmatica.yaml